# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Logs
*.log
*.pid
*.pid.lock

# Virtual environment
venv/
env/
.vscode/
*.pycharm*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.db
*.sqlite3

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
logs/
out/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.egg-info
.installed.cfg
MANIFEST
